<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.3.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.1.0" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Nikos.One" version="1.0.189" targetFramework="net451" />
  <package id="Nikos.One.CatalogService" version="1.0.38" targetFramework="net451" />
  <package id="Nikos.One.Client" version="1.0.189" targetFramework="net451" />
  <package id="Nikos.One.ConfigurationService" version="1.0.38" targetFramework="net451" />
  <package id="Nikos.One.DefaultImplementation" version="1.0.189" targetFramework="net451" />
  <package id="Nikos.One.GlobalConfiguration" version="1.0.189" targetFramework="net451" />
  <package id="Nikos.One.GlobalConfigurationService" version="1.0.38" targetFramework="net451" />
  <package id="Nikos.One.InformationService" version="1.0.38" targetFramework="net451" />
  <package id="Nikos.One.LockingService" version="1.0.38" targetFramework="net451" />
  <package id="Nikos.One.Modules.DatabaseFileStore" version="1.0.35" targetFramework="net451" />
  <package id="Nikos.One.Modules.SqlDataStore" version="1.0.34" targetFramework="net451" />
  <package id="Nikos.One.OrderService" version="1.0.36" targetFramework="net451" />
  <package id="Nikos.One.Scripting" version="1.0.189" targetFramework="net451" />
  <package id="Nikos.One.ServiceContracts" version="1.0.189" targetFramework="net451" />
  <package id="Nikos.One.ServiceModel" version="1.0.37" targetFramework="net451" />
  <package id="Nikos.One.ServiceModel.Client" version="1.0.189" targetFramework="net451" />
  <package id="Nikos.One.StoreConfigurationLanguage" version="1.0.0.0" targetFramework="net451" />
  <package id="Nikos.One.Templating" version="1.0.189" targetFramework="net451" />
  <package id="Nikos.Toolbelt" version="1.0.91" targetFramework="net451" />
  <package id="Nikos.Toolbelt.Azure" version="1.0.91" targetFramework="net451" />
  <package id="Nikos.Toolbelt.Compilers" version="1.0.91" targetFramework="net451" />
  <package id="Nikos.Toolbelt.Loggers.Log4Net" version="1.0.91" targetFramework="net451" />
  <package id="Saxon-HE" version="9.6.0.5" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net451" />
  <package id="Unofficial.Microsoft.WindowsAzure.Diagnostics" version="2.5.0.0" targetFramework="net451" />
  <package id="Unofficial.Microsoft.WindowsAzure.ServiceRuntime" version="2.5.0.0" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net451" />
</packages>