<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr4.Runtime" version="4.3.0" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.2" targetFramework="net451" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Nikos.One" version="1.0.5559.23566" targetFramework="net451" />
  <package id="Nikos.One.Client" version="1.0.5559.23565" targetFramework="net451" />
  <package id="Nikos.One.DefaultImplementation" version="1.0.5559.23568" targetFramework="net451" />
  <package id="Nikos.One.Modules.DatabaseFileStore" version="1.0.5559.23538" targetFramework="net451" />
  <package id="Nikos.One.Modules.SqlDataStore" version="1.0.5559.23545" targetFramework="net451" />
  <package id="Nikos.One.Scripting" version="1.0.5559.23569" targetFramework="net451" />
  <package id="Nikos.One.ServiceContracts" version="1.0.5559.23563" targetFramework="net451" />
  <package id="Nikos.One.ServiceModel.Client" version="1.0.5559.23564" targetFramework="net451" />
  <package id="Nikos.One.StoreConfigurationLanguage" version="1.0.0.0" targetFramework="net451" />
  <package id="Nikos.One.Templating" version="1.0.5559.23572" targetFramework="net451" />
  <package id="Nikos.Toolbelt" version="1.0.5559.23588" targetFramework="net451" />
  <package id="Nikos.Toolbelt.Azure" version="1.0.5559.23589" targetFramework="net451" />
  <package id="Nikos.Toolbelt.Compilers" version="1.0.5559.4317" targetFramework="net451" />
  <package id="Nikos.Toolbelt.Loggers.Log4Net" version="1.0.5559.23591" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net451" />
  <package id="Unofficial.Microsoft.WindowsAzure.Diagnostics" version="2.5.0.0" targetFramework="net451" />
  <package id="Unofficial.Microsoft.WindowsAzure.ServiceRuntime" version="2.5.0.0" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net451" />
</packages>