<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.2" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.3" targetFramework="net451" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.3" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.8" targetFramework="net451" />
  <package id="Nikos.One" version="1.0.5559.23566" targetFramework="net451" />
  <package id="Nikos.One.Client" version="1.0.5565.37413" targetFramework="net451" />
  <package id="Nikos.One.FileService" version="1.0.0.0" targetFramework="net451" />
  <package id="Nikos.One.ServiceContracts" version="1.0.5565.37411" targetFramework="net451" />
  <package id="Nikos.One.ServiceModel.Client" version="1.0.5565.37412" targetFramework="net451" />
  <package id="Nikos.Toolbelt" version="1.0.5559.1494" targetFramework="net451" />
  <package id="Nikos.Toolbelt.Compilers" version="1.0.5559.4317" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.3" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="4.3.0" targetFramework="net451" />
</packages>