<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>

  <nikosone>
    <SERVICEBASE xdt:Transform="Replace">nikosone.azurewebsites.net</SERVICEBASE>
    <FILESERVICEBASE xdt:Transform="Replace">nikosonefileservice.azurewebsites.net</FILESERVICEBASE>
    <CloudPlatform>azure</CloudPlatform>
    <stores xdt:Transform="Replace">
      <store>
        <connectionstring providerName="System.Data.SqlClient" connectionString="Server=tcp:y1dae510fv.database.windows.net,1433;Database=suwp;User ID=granikos@y1dae510fv;Password=Radeberger05;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
      </store>
      <store name="carts">
        <connectionstring providerName="System.Data.SqlClient" connectionString="Server=tcp:y1dae510fv.database.windows.net,1433;Database=suwp_carts;User ID=granikos@y1dae510fv;Password=Radeberger05;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
      </store>
    </stores>

  </nikosone>

</configuration>