<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nikos" type="Nikos.Toolbelt.Configuration.ConfigurationSection, Giri.Toolbelt" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.net>
    <defaultProxy>
      <proxy usesystemdefault="True" bypassonlocal="False" />
    </defaultProxy>
  </system.net>
  <nikos>
    <data>
      <SERVICEBASE>localhost:48561</SERVICEBASE>
      <stores>
        <store>
          <connectionstring providerName="System.Data.SqlClient" connectionString="Data Source=(Local)\sqlexpress;Initial Catalog=no_suwp;Integrated Security=True; MultipleActiveResultSets=True;" />
        </store>
      </stores>
      <!--<filestoresettings>..\Components\Output</filestoresettings>-->
      <!--<filestoresettings>c:\tmp\assemblies</filestoresettings>-->
      <composition>
        <mappings>
          <map interface="Nikos.Toolbelt.ILog, Giri.Toolbelt" type="Nikos.Toolbelt.Loggers.Log4NetLogger, Giri.Toolbelt.Loggers.Log4Net" reuse="Singleton" />
          <map interface="Nikos.One.Runtime.IPrincipalMapper, Giri.Server" type="Nikos.One.SimplePrincipalMapper, Giri.Server.DefaultImplementation" reuse="Singleton" />
          <map interface="Nikos.One.Runtime.IConfigurationStore, Giri.Server" type="Nikos.One.Modules.SqlDataStore, Giri.Modules.SqlDataStore" resue="Transient" />
          <map interface="Nikos.One.Runtime.IFileStore, Giri.Server" type="Nikos.One.Modules.FileStore, Giri.Modules.DatabaseFileStore" reuse="Singleton" />
          <!--<map interface="Nikos.One.Runtime.IFileStore, Giri.Server" 
                             type="Nikos.One.Modules.FileSystemFileStore, Nikos.One.Modules.FileSystemFileStore" />-->
        </mappings>
      </composition>
      <!-- TODO: move client configuration into own child element -->
      <globalconfigurationserviceclientconfiguration>
        <configuration>
          <system.serviceModel>
            <bindings>
              <basicHttpBinding>
                <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                  <security mode="TransportCredentialOnly">
                    <transport clientCredentialType="Windows" />
                  </security>
                </binding>
              </basicHttpBinding>
            </bindings>
            <client>
              <endpoint address="http://[SERVICEBASE]/GlobalConfiguration.svc" binding="basicHttpBinding" contract="Nikos.One.ServiceContracts.IGlobalConfigurationService" />
            </client>
          </system.serviceModel>
        </configuration>
      </globalconfigurationserviceclientconfiguration>
    </data>
  </nikos>
  <!--<system.diagnostics>
    <sharedListeners>
      <add name="AzureLocalStorage" type="Nikos.Toolbelt.Azure.LocalStorageTraceListener, Giri.Toolbelt.Azure"
             initializeData="nikosonefileservicetraces\wcf.svclog" />
    </sharedListeners>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="AzureLocalStorage"/>
        </listeners>
      </source>
    </sources>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.3.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>-->
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="CardSpace">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IO.Log">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.Runtime.Serialization">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.IdentityModel">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="Logs\svc.svclog" />
    </sharedListeners>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webHttp">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <services>
      <service name="Nikos.One.Services.ScriptService">
        <endpoint address="web" binding="webHttpBinding" behaviorConfiguration="webHttp" contract="Nikos.One.ServiceContracts.IScriptRestService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <directoryBrowse enabled="true" />
  </system.webServer>
  <appSettings>
    <add key="Microsoft.VisualStudio.Enterprise.AspNetHelper.VsInstrLocation" value="C:\Program Files (x86)\Microsoft Visual Studio 12.0\Team Tools\Performance Tools\vsinstr.exe" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>